<!-- Indicators -->
  <% @photos.each do |photo| %>
  <div class="row">
    <img id="photo_<%= photo.id %>" src="<%= photo.file_url %>" class="col-md-12 photo"/>
  </div>
  <% end %>

  <%= content_for :script do %>
  <script type="text/javascript">
  var photoCount = <%= Array(@photos).count %>
  </script>
  <% end %>