<!-- Carousel 
================================================== -->
<div id="photos" class="container">
  <%= render partial: 'slideshow' %>
</div>

<div class="container">
  <div class="row">
  <h2 class="col-sm-2 pull-right"><%= link_to "All Photos", photos_url, class: "" %></h2>
  </div>
</div>

<%= content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
    var refreshId = setInterval( function() {
        $.getScript("<%= root_url %>?lastPhoto="+lastPhoto)
    }, 5000);
    $('#photos img').load(function(){
    $(this).addClass('loaded')
  })
});
</script>

<% end %>
