<!-- Carousel 
================================================== -->
<div id="photos" class="container">
  <%= render partial: 'slideshow' %>
</div>

<%= content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
    var refreshId = setInterval( function() {
        $.getScript("<%= root_url %>")
    }, 5000);
});
</script>

<% end %>
